* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.home,
.contact,
.privacy,
.support {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.contact {
  background: rgb(253,253,255);
  background: linear-gradient(90deg, rgba(253,253,255,1) 0%, rgba(91,217,245,1) 36%, rgba(251,251,251,1) 66%, rgba(0,212,255,1) 100%);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 50px;
}

.support {
  background: rgb(253,253,255);
  background: linear-gradient(90deg, rgba(253,253,255,1) 0%, rgba(91,217,245,1) 27%, rgba(228,255,194,1) 57%, rgba(255,141,0,1) 100%);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 50px;
}

.privacy {
  background: rgb(253,253,255);
  background: linear-gradient(90deg, rgba(253,253,255,1) 0%, rgba(91,217,245,1) 27%, rgba(228,255,194,1) 57%, rgba(255,141,0,1) 100%);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 50px;
}
